#tag{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 5000px;
}

nav{
    padding-left: 1000px;
    background-color: #ffffff;
}

.getstarted {
    color:blue
}
.b1{
    color:white;
    background-color: blue;

}
.hero-box {
  background: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 9px;
  width: 35%;

}

.download{
    background-color: blue;
    color:#ffffff
}
.content-area {
    background-color: #eaf3ff;   
    padding:  40px 60px;
    display:flex;
  justify-content: space-between;
}
 
