*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: #131321;
    color:#ffffff;
    line-height: 1.6;
}
p {
  font-size: 14px;
  margin-bottom: 15px;
  color: #ccc;
}
h4 {
  margin: 10px 0 5px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding:0 20px;
}

.graphic
{
    background-color: #1a1a2e;
    padding: 14px 0;
    border-bottom: 1px solid rgb(255,255,255,0.1);
}

.videograph{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name{
    font-size: 1.5 rem;
    font-weight: bold;
    color:#ffffff;
}
.nav{
    list-style: none;
    display: flex;
}
.nav li a{
    text-decoration: none;
    color:#ffffff;
    padding: 0 15px;
    opacity: 1.5;
    color:#007bff

}
.icons i {
    color: #ffffff ;
    margin-left: 12px;
    cursor: pointer;
    font-size: 1.1rem;
    gap:10px;
}

.dot hr{
    height:4px;
    width:20px;
    display: flex;
    margin-right: 20px;
    cursor: pointer;
}
.slider-dot{
    margin-top: 20px;
    display: flex;
}
.dotactive{
    color:aliceblue
}
.services-section{
    padding:70px;
    background-color:#1a1a2e;
}
.services-intro p {
color: #a0a0a0;
margin-top: 20px;
}

.slider-dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.services-grid {
    display: grid;
    grid-template-columns:  1fr 2fr ;
    gap: 40px;
    align-items: start;
}
.services-intro {
    padding-right: 40px;
}

.section-title {
    color: var(--text-color-faded);
    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.service-cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.card-description {
    font-size: 0.9rem;
    color: var(--text-color-faded);
}
img{width: 100%;
}
.hero-section {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.hero-section img {
  width: 100%;
  height: 100vh; /* optional: full screen height */
  object-fit: cover;
  display: block;
}

.hero-content {
  position: relative;
}

.hero-content .para,
.hero-content .button,
.hero-content .slider-dots {
  position: absolute;
  left: 20%;
  transform: translateX(-50%);
  color: #fff;
  text-align: start;
}

/* Positioning each element */
.hero-content .para {
  top: 30%;
}

.hero-content .button {
  top: 55%;
  background: #007bff;
  padding: 10px 25px;
  border-radius: 30px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  left: 15%;
  
}

.hero-content .slider-dots {
  bottom: 40px;
}

.subtitle {
  font-size: 14px;
  color: #e6d2d2;
  letter-spacing: 2px;
}

.title {
  font-size: 40px;
  font-weight: bold;
  color: #918686;
}
